# Default ignored files
/../../../:PoisonedPlugin/.idea/shelf/
/../../../:PoisonedPlugin/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:PoisonedPlugin/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:PoisonedPlugin/.idea/dataSources/
/../../../:PoisonedPlugin/.idea/dataSources.local.xml
